{
  "openapi": "3.0.3",
  "info": {
    "title": "cloudpayX Agent Services API",
    "description": "Paid XRPL machine-intelligence services protected by x402 v2 payments on XRPL mainnet.",
    "version": "3.0",
    "contact": {
      "url": "https://api.cloudpayxagent.xyz"
    },
    "x-guidance": "Discover paid resources via GET /.well-known/x402. Paid POST endpoints return HTTP 402 with x402 v2 XRPL payment requirements before releasing intelligence. cloudpayX exposes transaction repair, risk assessment, ledger status, arbitrage analysis, classic token analysis, stablecoin routing, and universal V3 analysis for XRP, issued currencies, MPT issuances, and NFTokens."
  },
  "servers": [
    {
      "url": "https://api.cloudpayxagent.xyz",
      "description": "cloudpayX Agent production API"
    }
  ],
  "paths": {
    "/agent/arbitrage-check": {
      "post": {
        "summary": "XRPL Arbitrage Check V2",
        "description": "Simulates an XRPL round-trip cycle using validated order-book liquidity, evaluates both execution legs, calculates final amount and gross return, and determines whether a positive executable arbitrage edge exists.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "amount"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "example": "RLUSD"
                  },
                  "to": {
                    "type": "string",
                    "example": "USDC"
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "example": 1000
                  }
                }
              },
              "example": {
                "from": "RLUSD",
                "to": "USDC",
                "amount": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arbitrage Check V2 response including forward and reverse execution legs, round-trip economics, opportunity state, and decision signal."
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.01",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/agent/risk-check": {
      "post": {
        "summary": "XRPL Risk Check V2",
        "description": "Evaluates transaction risk across network, asset/issuer, liquidity, and execution dimensions using validated XRPL data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "amount"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "example": "RLUSD"
                  },
                  "to": {
                    "type": "string",
                    "example": "USDC"
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "example": 1000
                  }
                }
              },
              "example": {
                "from": "RLUSD",
                "to": "USDC",
                "amount": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Risk Check V2 response including composite risk score, risk dimensions, issuer analysis, liquidity, execution simulation, network state, decision signal, flags, and rule thresholds."
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.02",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/agent/repair": {
      "post": {
        "summary": "XRPL Transaction Repair V2",
        "description": "Classifies XRPL engine results and returns deterministic diagnosis, probable causes, retry safety, rebuild/resign requirements, and machine-readable recovery actions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "engine_result"
                ],
                "properties": {
                  "engine_result": {
                    "type": "string",
                    "example": "tecUNFUNDED_PAYMENT"
                  },
                  "transaction_type": {
                    "type": "string",
                    "example": "Payment"
                  },
                  "engine_result_message": {
                    "type": "string",
                    "example": "Insufficient XRP balance to send."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Repair V2 diagnosis including result classification, severity, probable causes, recommended recovery steps, retry safety, rebuild/resign requirements, decision signal, and confidence."
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.10",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/agent/ledger-status": {
      "post": {
        "summary": "XRPL Ledger Status V2",
        "description": "Evaluates validated XRPL ledger freshness, fee pressure, reserve requirements, server telemetry, and transaction-submission safety.",
        "responses": {
          "200": {
            "description": "Ledger Status V2 response including validated-ledger state, fees, reserves, server telemetry, execution environment, and ALLOW/REVIEW/ABORT decision intelligence."
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.005",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              },
              "example": {}
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery catalog",
        "description": "Machine-readable discovery metadata for cloudpayX paid resources.",
        "responses": {
          "200": {
            "description": "x402 resource catalog"
          }
        },
        "security": []
      }
    },
    "/agent/token-analysis": {
      "post": {
        "summary": "XRPL Token Analysis V2.1",
        "description": "Analyzes native XRP or classic XRPL-issued fungible assets using validated XRPL mainnet data. For issued assets, CloudPayX inspects issuer configuration, trustlines, both sides of the XRP order book, AMM availability and reserves, visible market depth, spread, requested-trade fillability, estimated order-book slippage, and network state. Returns deterministic PROCEED, REVIEW, or ABORT signals. REVIEW is triggered by degraded execution conditions such as spread above 5% or slippage above 3%; ABORT is triggered by hard conditions including spread above 20%, slippage above 15%, global freeze, no visible liquidity, or insufficient book depth without AMM support.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.005",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "Human-readable XRPL currency symbol or 40-character XRPL currency code.",
                    "example": "RLUSD"
                  },
                  "issuer": {
                    "type": "string",
                    "description": "XRPL issuer address. Required for issued currencies; not required for native XRP.",
                    "example": "rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De"
                  },
                  "trade_size_xrp": {
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "default": 100,
                    "description": "Hypothetical XRP trade size used for depth and order-book slippage analysis.",
                    "example": 100
                  }
                }
              },
              "examples": {
                "native_xrp": {
                  "summary": "Analyze native XRP",
                  "value": {
                    "asset": "XRP"
                  }
                },
                "issued_asset": {
                  "summary": "Analyze an XRPL-issued asset",
                  "value": {
                    "asset": "RLUSD",
                    "issuer": "rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De",
                    "trade_size_xrp": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid XRPL token intelligence including issuer state, liquidity, DEX/AMM conditions, execution estimates, network state, and execution signal."
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        }
      }
    },
    "/agent/stablecoin-route": {
      "post": {
        "summary": "XRPL Stablecoin Route V1",
        "description": "Compares executable stablecoin routing on XRPL, including direct order-book execution and XRP-bridged routing when applicable. Returns the best complete route based on actual simulated execution output.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.01",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "amount"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "enum": [
                      "RLUSD",
                      "USDC",
                      "XRP"
                    ],
                    "example": "RLUSD"
                  },
                  "to": {
                    "type": "string",
                    "enum": [
                      "RLUSD",
                      "USDC",
                      "XRP"
                    ],
                    "example": "USDC"
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "example": 1000
                  },
                  "objective": {
                    "type": "string",
                    "default": "best_execution",
                    "example": "best_execution"
                  }
                }
              },
              "example": {
                "from": "RLUSD",
                "to": "USDC",
                "amount": 1000,
                "objective": "best_execution"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stablecoin Route V1 response including evaluated routes, recommended route, expected output, execution slippage, parity execution loss, and ALLOW/REVIEW/ABORT decision."
          },
          "400": {
            "description": "Invalid or unsupported route request."
          },
          "402": {
            "description": "x402 v2 payment required"
          },
          "500": {
            "description": "Stablecoin route analysis failed."
          }
        }
      }
    },
    "/agent/v3/asset-analysis": {
      "post": {
        "summary": "Universal XRPL Asset Analysis V3",
        "description": "Resolves and analyzes native XRP, arbitrary XRPL-issued currencies, Multi-Purpose Tokens (MPTs), and NFTokens using validated XRPL mainnet data. Returns the asset's canonical identity, supported analytical capabilities, and the applicable issuer, issuance, holder, ownership, or offer information.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.005",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "Native XRP or an issued-currency symbol/code.",
                    "example": "RLUSD"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Alias for asset when identifying an issued currency."
                  },
                  "issuer": {
                    "type": "string",
                    "description": "Issuer address required for an issued currency.",
                    "example": "rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De"
                  },
                  "asset_type": {
                    "type": "string",
                    "enum": [
                      "MPT",
                      "NFT"
                    ],
                    "description": "Explicit type for MPT or NFToken analysis."
                  },
                  "mpt_issuance_id": {
                    "type": "string",
                    "pattern": "^[A-Fa-f0-9]{48}$",
                    "description": "48-character MPT issuance ID."
                  },
                  "issuance_id": {
                    "type": "string",
                    "pattern": "^[A-Fa-f0-9]{48}$",
                    "description": "Alias for mpt_issuance_id."
                  },
                  "nftoken_id": {
                    "type": "string",
                    "pattern": "^[A-Fa-f0-9]{64}$",
                    "description": "64-character NFToken ID."
                  },
                  "token_id": {
                    "type": "string",
                    "pattern": "^[A-Fa-f0-9]{64}$",
                    "description": "Alias for nftoken_id."
                  },
                  "holder": {
                    "type": "string",
                    "description": "Optional XRPL account whose MPT holding should be retrieved."
                  },
                  "offer_limit": {
                    "type": "integer",
                    "minimum": 50,
                    "maximum": 500,
                    "default": 250,
                    "description": "Maximum NFT buy and sell offers to retrieve."
                  },
                  "ledger_index": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "minimum": 1
                      },
                      {
                        "type": "string",
                        "enum": [
                          "validated",
                          "closed",
                          "current"
                        ]
                      }
                    ],
                    "default": "validated"
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "asset"
                    ]
                  },
                  {
                    "required": [
                      "currency"
                    ]
                  },
                  {
                    "required": [
                      "mpt_issuance_id"
                    ]
                  },
                  {
                    "required": [
                      "issuance_id"
                    ]
                  },
                  {
                    "required": [
                      "nftoken_id"
                    ]
                  },
                  {
                    "required": [
                      "token_id"
                    ]
                  }
                ]
              },
              "examples": {
                "native_xrp": {
                  "value": {
                    "asset": "XRP"
                  }
                },
                "issued_currency": {
                  "value": {
                    "asset": "RLUSD",
                    "issuer": "rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De"
                  }
                },
                "mpt": {
                  "value": {
                    "asset_type": "MPT",
                    "mpt_issuance_id": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
                  }
                },
                "nftoken": {
                  "value": {
                    "asset_type": "NFT",
                    "nftoken_id": "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB",
                    "offer_limit": 250
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid universal XRPL asset analysis."
          },
          "400": {
            "description": "Invalid asset identity or request options."
          },
          "402": {
            "description": "x402 v2 payment required"
          },
          "502": {
            "description": "Validated XRPL RPC data was unavailable."
          }
        }
      }
    }
  }
}
