{
  "openapi": "3.0.3",
  "info": {
    "title": "cloudpayX Agent Services API",
    "description": "Machine-to-machine XRPL services protected by x402 v2 payments.",
    "version": "1.2.1",
    "contact": {
      "url": "https://api.cloudpayxagent.xyz"
    },
    "x-guidance": "Discover paid resources via GET /.well-known/x402. Paid POST endpoints return HTTP 402 with x402 v2 XRPL payment requirements. The token-analysis endpoint accepts native XRP or classic XRPL issued currencies. For issued assets, provide the currency symbol/code and issuer address; CloudPayX normalizes XRPL currency encoding and returns issuer, DEX, AMM, liquidity, slippage, network-health, and PROCEED/REVIEW/ABORT execution signals."
  },
  "servers": [
    {
      "url": "https://api.cloudpayxagent.xyz",
      "description": "cloudpayX Agent production API"
    }
  ],
  "paths": {
    "/agent/arbitrage-check": {
      "post": {
        "summary": "XRPL arbitrage and route optimization",
        "description": "Provides machine-consumable XRPL route and execution intelligence for autonomous trading agents.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "amount"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "example": "XRP"
                  },
                  "to": {
                    "type": "string",
                    "example": "RLUSD"
                  },
                  "amount": {
                    "type": "number",
                    "example": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid arbitrage optimization response"
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.01",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/agent/risk-check": {
      "post": {
        "summary": "XRPL risk assessment",
        "description": "Low-latency risk and circuit-breaker signal for autonomous financial workflows.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset": {
                    "type": "string",
                    "example": "XRP"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid risk assessment response"
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.02",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/agent/repair": {
      "post": {
        "summary": "XRPL transaction failure diagnostics",
        "description": "Provides machine-readable diagnostics and recovery guidance for XRPL transaction execution failures.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "error_code": {
                    "type": "string",
                    "example": "tecNO_LINE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid transaction diagnostic response"
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.10",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/agent/ledger-status": {
      "post": {
        "summary": "XRPL ledger and consensus telemetry",
        "description": "Provides machine-readable XRPL ledger and consensus telemetry.",
        "responses": {
          "200": {
            "description": "Paid ledger telemetry response"
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        },
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.005",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              },
              "example": {}
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery catalog",
        "description": "Machine-readable discovery metadata for cloudpayX paid resources.",
        "responses": {
          "200": {
            "description": "x402 resource catalog"
          }
        },
        "security": []
      }
    },
    "/agent/token-analysis": {
      "post": {
        "summary": "XRPL token execution intelligence",
        "description": "Analyzes native XRP or classic XRPL-issued fungible assets using validated XRPL mainnet data. For issued assets, CloudPayX inspects issuer configuration, trustlines, both sides of the XRP order book, AMM availability and reserves, visible market depth, spread, requested-trade fillability, estimated order-book slippage, and network state. Returns deterministic PROCEED, REVIEW, or ABORT signals. REVIEW is triggered by degraded execution conditions such as spread above 5% or slippage above 3%; ABORT is triggered by hard conditions including spread above 20%, slippage above 15%, global freeze, no visible liquidity, or insufficient book depth without AMM support.",
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "amount": "0.005",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "Human-readable XRPL currency symbol or 40-character XRPL currency code.",
                    "example": "RLUSD"
                  },
                  "issuer": {
                    "type": "string",
                    "description": "XRPL issuer address. Required for issued currencies; not required for native XRP.",
                    "example": "rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De"
                  },
                  "trade_size_xrp": {
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "default": 100,
                    "description": "Hypothetical XRP trade size used for depth and order-book slippage analysis.",
                    "example": 100
                  }
                }
              },
              "examples": {
                "native_xrp": {
                  "summary": "Analyze native XRP",
                  "value": {
                    "asset": "XRP"
                  }
                },
                "issued_asset": {
                  "summary": "Analyze an XRPL-issued asset",
                  "value": {
                    "asset": "RLUSD",
                    "issuer": "rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De",
                    "trade_size_xrp": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid XRPL token intelligence including issuer state, liquidity, DEX/AMM conditions, execution estimates, network state, and execution signal."
          },
          "402": {
            "description": "x402 v2 payment required"
          }
        }
      }
    }
  }
}
